[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
	ignore = dirty
[submodule "unitTestSong/googletest"]
	path = unitTestSong/googletest
	url = https://github.com/google/googletest.git